/*清除浏览器缺省padding margin 差异*/
* {
	padding: 0;
	margin: 0;

}

/*        通常的页面不需要设置这个，这时候如果页面的内容高度多过浏览器高度，右侧有滚动条拖动，但是本课要求浏览器滚动条不出现，则需要这么设置 ↓*/
/* html有点特殊，它的widht和height是有浏览器窗口大小决定 */
html {
	/* html是body的父容器，不设置这个设置body没有用，浏览器右侧会出现滚动条，不是fix的部分会随着滚动而移动*/
	height: 100%;
}

body {
	/* body  的意义是页面内容 ，高度和宽度超过窗口内容完全是可能的，但这个时候会出现滚动条*/
	height: 100%;
	/* 定死body高度，意味着不出现浏览器上下滚动条*/
}

/*        通常的页面不需要设置这个，这时候如果页面的内容高度多过浏览器高度，右侧有滚动条拖动，但是本课要求浏览器滚动条不出现，则需要这么设置 ↑*/

ul {
	display: inline-block;
}

li {
	display: inline-block
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.menu {
	height: 100%;
	position: fixed;
	background-color: hotpink;
	display: flex; /* 20190703 简单的用flex代替 两个float left */
	width: 350px;
}

.primary-menu {
/* 	float: left; */

	position: relative;
/* 	width: 100px; */
	flex-basis: 100px;/* 当flex容器(.menu)有大小的时候,这里用flex-basis是没有问题的，最终的宽度就是flex-basis的100px */
	height: 100%;
	background-color: #1e2530;
}

.primary-menu .item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
}

.item img {
	width: 60px;
	margin: 20px 20px 0;
}

.primary-menu .bottom {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.bottom li {
	width: 16px;
	height: 16px;
}

.bottom li:last-child {
	margin-left: 16px;
}

.bottom img {
	width: 16px;
	height: 16px;
}

.secondary-menu {
	position: relative;
/* 	width: 250px; */
flex-basis: 250px;
	
	height: 100%;
	/* margin-left: 100px; */
	/* float: left; */
	/* 浮动也可以吧 */
	background-color: #242c3b;
}

.secondary-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 80px;
	right: 0;
	overflow: auto;
	/* 内容超出的话出滚动条 */
}

.secondary-content .secondary-box {
	width: 190px;
	margin: 30px;
}

.secondary-box h3 {
	margin-bottom: 20px;
	font-size: 12px;
	color: #5b6779;
	display: flex;
}
.secondary-box h3>div{
	flex-grow: 1;
	}
.secondary-box h3>span {
	width: 15px;
	height: 15px;
	/* float: right; */
}
.secondary-box p {
	display: flex;
}
.secondary-box p>a{
	flex-grow: 1;
}

.error,
.notice {
	position: relative;
	top: -2.5px;
	/* float: right; */
	box-sizing: border-box;
	height: 25px;
	line-height: 25px;
	min-width: 25px;
	padding: 0 9px;
	border-radius: 25px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background-color: #4493e5;
}

#Interations{
	display: flex;
}
#Interations>a{
	flex-grow: 1;
}

.error {
	background-color: #ca462d;
}

.secondary-box p>img {
	margin-right: 10px;
	width: 1em;
	height: 1em;
}

.secondary-box p {
	margin-bottom: 20px;
}

.secondary-box a {
	font-size: 14px;
	color: #b7c0cd;
	text-decoration: none;
}



.secondary-menu .bottom {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	line-height: 40px;
	color: #FFF4E6;
	font-size: 14px;
	padding: 10px 30px;
}

.bottom .percentage-content {
	width: 100%;
	height: 4px;
	background-color: #2f3847;
}

.percentage-content .percentage {
	width: 40px;
	height: 4px;
	background: linear-gradient(to right, #7963de, #9991de);

}


.chat {
	height: 100%;
	margin-left: 350px;
}

.chat .chat-header {
	box-sizing: border-box;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #eef0f1;
	display: flex;
}

/* .chat-header .msg{
	float: left;
} */
.chat-header h1{
	margin-left: 30px;
	font-size: 24px;
	
}
.chat-header .msg{
	flex-grow: 1;
	}
.chat-header .profile{
	/* float: right; */
	margin-right: 30px;
}
.profile img{
	vertical-align: middle;
}
.profile .profile-name{
	display: inline-block;
	height: 40px;
	line-height: 20px;
	vertical-align: middle;
	margin: 0 40px 0 15px;
}
.profile-name h5{
	font-size: 16px;
	color: #2399F1;
}

.chat-main{
	display: flex;
	height: calc(100% - 80px);

}

.chat-box{
	/* flex-basis: 400px; */ /* 即使是利用了flex布局也根据要求也不应该用flex-basis,由于父亲宽度并不确定,有可能因为内容而挤开右边的div .chat-content */
	width: 400px;
	/* float: left; */
	box-sizing: border-box;
	/* height: calc(100% - 80px); */
	height:100%;
	
	border-right: 1px solid #eef0f1;/* 一条分隔左右的边界线 */
}

.chat-box>.search{
	box-sizing: border-box;
	height: 70px;
	border-bottom: 1px solid #eef0f1;
	padding-top: 17px;
	text-align: center;
}
.search .search-content
{
	width: 340px;
	margin:0 auto;
	position: relative;
	display: flex;
}
.search input[type=text]{
/*   float: left;
	width: 80%; */
	flex-grow: 4;
	
    box-sizing: border-box;
    height: 36px;
    padding-left: 15px;
    border: 1px solid #eef0f1;
    border-right: 0px ;
}
.search input[type=submit]{
/*   float: left;
	width: 20%; */
	flex-grow: 1;
    box-sizing: border-box;
    height: 36px;
    padding-right: 15px;
    border: 1px solid #eef0f1;
    border-left: 0px ;
    cursor: pointer;
    background: #fff url(../images/search.png) center center no-repeat;
}


.chat-box>.card-container{
	overflow: auto;
	height: calc(100% - 70px);
}


 .chat-card {
            box-sizing: border-box;
            padding: 25px 25px 25px 30px;
            border-bottom: 1px solid #eef0f1;
            cursor: pointer;
        }
        
        .chat-card .card-part {
            height: 46px;
            line-height: 23px;
            margin-bottom: 15px;
			
        }
        
        .card-part > img {
            float: left;
            height: 46px;
            width: 46px;
        }
		  .card-part time {
		    float: right;
		    font-size: 14px;
		    color: #7f8fa4;
		}
        
        .card-part > h5,
        .card-part > p {
            margin-left: 66px;
        }
        
        .card-part > h5 {
            font-size: 16px;
            color: #585d68;
        }
        
        .card-part > h5 span {
            width: 8px;
            height: 8px;
            margin-right: 10px;
        }
        
        .card-part > p {
            font-size: 14px;
            color: #b5b5b5;
        }
        
        .chat-box #selected {
            border-left: 2px solid #2399f1;
            padding-left: 28px;
        }
        
        #selected h5 {
            color: #2399f1;
        }
        
      
        
        .chat-card > p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 14px;
            color: #585d68;
            height: 40px;
        }




.chat-content{
/* 	float: left; */
	flex-grow: 1;
	box-sizing: border-box;
	overflow-x: hidden; /* 剪掉溢出左右的部分 */
	height: 100%;
	width: calc(100% - 400px);/* 宽度要减去左边固定兄弟.chat-box div的定宽 */
}

.chat-content>.content-header{
	box-sizing: border-box;
	height: 70px;
	border-bottom: 1px solid #eef0f1;
    vertical-align: middle;
	display: flex;
}

.content-header>.content-title{
	margin-left: 20px;
	height: 70px;
	line-height: 70px;
	flex: 1;
	/* float: left; */
}
.content-header>.content-header-right{
	height: 70px;
	/* float: right; */
	display: flex;
	align-items: center;/* 简单的div垂直居中 */
}
.content-tools{
	
}
.content-tools ul{
	height: 35px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #f3f4f8;
}

.content-tools li{
	box-sizing: border-box;
	width: 40px;
	height: 35px;
	text-align: center;
}
.page-info{
	display: inline-block;
	text-align: center;
}
.content-tools img{
	margin-top: 12px;
	width: 16px;
	height: 16px;
}


.content-main{
  height: calc(100% - 164px );/* 70+20+20+54=164 */
  overflow: auto;/* 没有这个会出滚动条 */
  margin-bottom: 54px;
  padding: 20px 30px;
}

.content-main .content-card{
	margin-bottom: 25px;
	display: flex;
}

.content-card img{/*注意 写成.content-card img{ 的话就会影响再下一级的img, 造成鼠标悬停的时候不居中*/
	
	width: 45px;
	height: 45px;
}
.content-card time {
		    float: right;
		    font-size: 14px;
		    color: #7f8fa4;
		}
.card-content{
	/* margin-left: 67px; */
	flex-grow: 1;
	margin-left: 17px;
}
.card-content h5{
	color: #585d68;
	font-size: 16px;
}
.card-content h5,time{
	display: inline-block;
}

.card-content p{
	margin-top: 15px;
	color: #585d68;
}


.line-box{
	height: 1em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.line-box span{
	margin:  0 15px;
	color: #7f8fa4;
	font-size: 14px;
}

.line{
	height: 1px;
	flex-grow: 1;
	background-color:#e3e6ea;
}

.photo
{
	margin-top: 20px;
}

.photo-container{
	display:  inline-block;
	width: 156px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}

.photo-container img{
	width: 100%;
	height: 100%;
}

.photo-container:hover .photo-mask{
	display: inline-block;
}

.photo-mask{
	position: absolute;
	top: 0;right: 0;
	left: 0;bottom: 0;
	text-align: center;
	background-color: rgba(51, 56, 67, 0.8);
	opacity: 0.8;
	display: none;
	
}

.photo-mask img{
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin-top: 25px;
	
}

     #newmessage span {
            margin: 0 15px;
            color: #2399f1;
            font-size: 14px;
        }
        
        #newmessage .line {
            height: 1px;
            flex-grow: 1;
            background-color: #2399f1;
        }
		
.content-input{
	position: fixed;
	bottom: 20px;
	right: 30px;
	left: 780px;
	display: flex;
}
.content-input img{
	cursor: pointer;
	/* float: left;
	width: 54px; */
	flex-basis: 54px;
	height: 54px;
}

.content-input input{
	/* height: 54px;
	width: calc(100% - 56px); /* 56=54+1+1 */ 
	
	
	flex-grow: 1;
	font-size: 14px;
	border: 1px solid #eef0f1;
	
}
