.father>div:first-child {
    background: rgb(101, 165, 250);
    padding-top: 50px;
    text-align: center;
    color: white;
    width: 200px;
    height: 750px;
    float: left;
}
.father>div:last-child {
    margin-left: 230px;
    height: 750px;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.bold {
    font-weight: bold;
}
.pl10 {
    padding-left: 10px;
}
.pl30 {
    font-weight: bold;
    padding-left: 30px;
}
h4 {
    line-height: 0.1;
}
.detail_discript{
            display: block;
        }